<!DOCTYPE html>
<html lang="en">
   <head>
      <%-include('../../partials/head.ejs') %>
      <link rel="stylesheet" href="css/btsbtplang.css">
      <link rel="stylesheet" href="css/Langue.css">
      <title>Formations</title>
   </head>
   <body>
      <video autoplay muted loop id="myVideo">
         <source src="video/Hogwarts_Library.mp4" type="video/mp4">
      </video>
      <!-- ===============================Nav Start===================================== -->
      <%-include('../../partials/nav.ejs') %>
      <!-- ===============================Nav End===================================== -->
      <!-- ======================================================================================================= -->
      <div style="height: 200px;"></div>
      <!-- ========================================================================================================= -->
      <!-- Logo image -->
      <div class="Logo">
         <h2 class="Textarea" style="margin-top: 50px; font-size: 30px;">
            <div class="frst-timeline-block frst-odd-item" data-animation="slideInUp">
               <div class="frst-timeline-img"><span>&nbsp;</span></div>
               <div class="frst-timeline-content">
                  <div class="frst-timeline-content-inner">
                     <p class="tarif"><p style="color: #ffac4e;">L'importance de la formation de courte durée: </p>La formation de courte durée garde toujours son importance et sa valeur surtout avec la cadence quotidienne de notre vie.</p>
                     <p class="tarif">Dans notre établissement, vous bénéficiez d’un large choix de formations accélérées qui vous permettent d’être à la page des nouveautés tout en renforçant votre curriculum vitae et en donnant une vraie valeur à votre parcours professionnel.</p>
                     <p style="opacity: 0%;">...</p>
                  </div>
               </div>
            </div>
         </h2>
      </div>


      <section class="section-what-do container">
         <h2 class="titre">Formations Accélérées</h2>
         <div class="wrapper">
            <div class="items">
               <article>
                  <% for(accelere of offices) {%>
                   <% if(accelere.type= 'office') {%>
                     <i class="fa fa-graduation-cap yellow-color" aria-hidden="true"></i>
                     <h2 ><%- accelere.titreA %></h2>
                     <ul class="uld">
                        <li class="lid" > <a href="/React" class="ad"> <%- accelere.text1 %></a> </li>
                        <li class="lid" > <a href="/Angular" class="ad"> <%- accelere.text2 %></a> </li>
                        <li class="lid" > <a href="/javascript" class="ad"> <%- accelere.text3 %></a> </li>
                        <li class="lid" > <a href="/Initiation" class="ad"> <%- accelere.text4 %></a> </li>
                        <li class="lid" > <a href="/Symfony" class="ad"> <%- accelere.text5 %></a> </li>
                     </ul>
                     <% } %> 
                     <% } %>
                  </article>
                  <article>
                     <% for(accelere of programmations) {%>
                      <% if(accelere.type= 'programmation') {%>
                        <i class="fa fa-graduation-cap yellow-color" aria-hidden="true"></i>
                        <h2 ><%- accelere.titreA %></h2>
                        <ul class="uld">
                           <li class="lid" > <a href="/Initiation_C" class="ad"> <%- accelere.text1 %></a> </li>
                           <li class="lid" > <a href="/Perfectionnement_C" class="ad"> <%- accelere.text2 %></a> </li>
                           <li class="lid" > <a href="/Initiation" class="ad"> <%- accelere.text3 %></a> </li>
                           <li class="lid" > <a href="Perfectionnement" class="ad"> <%- accelere.text4 %></a> </li>
                           <li class="lid" > <a href="/VB.Net" class="ad"> <%- accelere.text5 %></a> </li>
                           <li class="lid" > <a href="/Initiation_JAVA" class="ad"> <%- accelere.text6 %></a> </li>
                           <li class="lid" > <a href="/Perfectionnement_JAVA" class="ad"> <%- accelere.text7 %></a> </li>

                        </ul>
                        <% } %> 
                        <% } %>
                     </article>
            </div>
         </div>

         <!-- ======================================================================================================= -->
         <div style="height: 50px;"></div>
         <!-- ======================================================================================================= -->                  
                  <ul class="nav__list">
                     <li class="nav__list-item">
                        <a class="nav__link nav__link--btn" href="/formation">retourner</a>
                     </li>
                  </ul>
         
      </section>
      <!-- ======================================================================================================= -->
            <div style="height: 100px;"></div>
      <!-- ======================================================================================================= -->

      <!-- Footer start -->
      <%-include('../../partials/footer.ejs') %>
      <!-- Footer End -->
      <%-include('../../partials/scripte.ejs') %>
   </body>
</html>