<!DOCTYPE html>
<html lang="en">
   <head>
      <%-include('../../partials/head.ejs') %>
      <title>Bourses</title>
      <link rel="stylesheet" href="css/bourses.css">
   </head>
   <body>
      <video autoplay muted loop id="myVideo">
         <source src="video/Hogwarts_Library.mp4" type="video/mp4">
      </video>
      <!-- ===============================Nav Start===================================== -->
      <%-include('../../partials/nav.ejs') %>
      <!-- ===============================Nav End======================================= -->

            <!-- ======================================================================================================= -->
            <div style="height: 200px;"></div>
            <!-- ========================================================================================================= -->
      
      <!-- Logo image -->
      <section class="info" style="background-color: rgba(0, 0, 0, 0.8); position: relative;">
            <div class="history">
               <div class="container">
                  <div class="frst-timeline frst-alternate frst-date-opposite">
                     <div class="frst-timeline-block frst-odd-item" data-animation="slideInUp">
                        <div class="frst-timeline-img"><span>&nbsp;</span></div>
                        <div class="frst-timeline-content">
                           <div class="frst-timeline-content-inner">
                              <% for(bourse of bourses) {%>
                                 <hr>
                                 <h2 class="titre"> <%- bourse.titreP %></h2>
                                 <p class="tarif"> <%- bourse.text1 %></p>
                                 <% } %>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
      </section>
      
      <!-- Footer start -->
      <%-include('../../partials/footer.ejs') %>
      <!-- Footer End -->
      <%-include('../../partials/scripte.ejs') %>
   </body>
</html>