<!DOCTYPE html>
<html lang="en">
   <head>
      <%-include('../../partials/head.ejs') %>
      <title>Financement des etudes</title>
      <link rel="stylesheet" href="css/bourses.css">
      <link rel="stylesheet" href="css/Langue.css">
   </head>
   <body>
      <video autoplay muted loop id="myVideo">
         <source src="video/Hogwarts_Library.mp4" type="video/mp4">
      </video>
      <!-- ===============================Nav Start===================================== -->
      <%-include('../../partials/nav.ejs') %>
      <!-- ===============================Nav End===================================== -->
      <!-- ======================================================================================================= -->
      <div style="height: 200px;"></div>
      <!-- ========================================================================================================= -->
      <!-- Logo image -->

      <div class="Logo">
         <h2 class="Textarea" style="margin-top: 50px; font-size: 30px;">
            <div class="frst-timeline-block frst-odd-item" data-animation="slideInUp">
               <div class="frst-timeline-img"><span>&nbsp;</span></div>
               <div class="frst-timeline-content">
                  <div class="frst-timeline-content-inner">
                     <h2 class="tarif" style="color: #ffac4e;">FINANCEMENT DES ÉTUDES</h2>
                     <p style="opacity: 0%;">...</p>
                  </div>
               </div>
            </div>
         </h2>
      </div>


      <section class="info" style="background-color: rgba(0, 0, 0, 0.8); position: relative;">
         <div class="history">
            <div class="container">
               <div class="frst-timeline frst-alternate frst-date-opposite">
                  <div class="frst-timeline-block frst-odd-item" data-animation="slideInUp">
                     <div class="frst-timeline-img"><span>&nbsp;</span></div>
                     <div class="frst-timeline-content">
                        <div class="frst-timeline-content-inner">
                           <% for(finance of finances) {%>
                              <hr>
                           <h2 class="titre"><%- finance.titrePs %></h2>
                           <p class="tarif"><%- finance.text1 %></p>
                           <% } %>
                           <p style="opacity: 0%;">...</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </class>
   </section>
   
      <!-- Footer start -->
      <%-include('../../partials/footer.ejs') %>
      <!-- Footer End -->
      <%-include('../../partials/scripte.ejs') %>
   </body>
</html>