<!DOCTYPE html>
<html lang="en">
   <head>
      <%-include('../../partials/head.ejs') %>
      <title>Deplôme BTP</title>
      <link rel="stylesheet" href="css/btsbtplang.css">
      <link rel="stylesheet" href="css/Langue.css">
   </head>
   <body>
      <video autoplay muted loop id="myVideo">
         <source src="video/Hogwarts_Library.mp4" type="video/mp4">
      </video>
      <!-- ===============================Nav Start===================================== -->
      <%-include('../../partials/nav.ejs') %>
      <!-- ===============================Nav End===================================== -->
      <!-- ======================================================================================================= -->
      <div style="height: 200px;"></div>
      <!-- ========================================================================================================= -->
      <!-- Logo image -->
      <div class="Logo">
         <h2 class="Textarea" style="margin-top: 50px; font-size: 30px;">
            <div class="frst-timeline-block frst-odd-item" data-animation="slideInUp">
               <div class="frst-timeline-img"><span>&nbsp;</span></div>
               <div class="frst-timeline-content">
                  <div class="frst-timeline-content-inner">
                     <p class="tarif"><p style="color: #ffac4e;">Les conditions d’admission en BTP: </p>Peuvent postuler à une admission en 1ère année BTP les apprenants ayant le niveau de 2ème année secondaire accomplie ou un diplôme de CAP</p>
                     <p class="tarif"><p style="color: #ffac4e;">Pour le Département Santé: </p>Peuvent postuler à une admission en 1ère année BTP les apprenants ayant le niveau baccalauréat accompli, en section mathématique ou sciences expérimentales (avoir le niveau 7ème année secondaire, de l’ancien régime de l’enseignement Tunisien section mathématique ou sciences ou 4ème année secondaire accomplie (régime actuel).</p>
                     <p style="opacity: 0%;">...</p>
                  </div>
               </div>
            </div>
         </h2>
      </div>
      
      <section class="section-what-do container" >
         <h2 class="titre" >Nos spécialités Brevet De Technicien Professionnel (BTP)</h2>
         <div class="wrapper">
            <div class="items">
               <article >
                  <% for(btps of btp) {%>
                     <i class="fa fa-graduation-cap yellow-color" aria-hidden="true"></i>
                     <h2 ><%- btps.titrebtp %></h2>
                     <ul class="uld">
                        <li class="lid" >  <%- btps.niveau1 %> </li>
                        <li class="lid" >  <%- btps.niveau2 %> </li>
                        <li class="lid" >  <%- btps.niveau3 %> </li>
                     </ul>
                     <% } %>
               </article>
            </div>
         </div>
                                    <!-- ======================================================================================================= -->
                                    <div style="height: 50px;"></div>
                                    <!-- ======================================================================================================= -->                  
         <ul class="nav__list">
            <li class="nav__list-item">
               <a class="nav__link nav__link--btn" href="/diplome">retourner</a>
               <a class="nav__link nav__link--btn" href="/bts">BTS</a>
            </li>
         </ul>
      </section>

                  <!-- ======================================================================================================= -->
                  <div style="height: 100px;"></div>
                  <!-- ======================================================================================================= -->
            
      <!-- Footer start -->
      <%-include('../../partials/footer.ejs') %>
      <!-- Footer End -->
      <%-include('../../partials/scripte.ejs') %>
   </body>
</html>