<!DOCTYPE html>
<html lang="en">
   <head>
      <%-include('../../partials/head.ejs') %>
      <title>Deplôme BTS</title>
      <link rel="stylesheet" href="css/btsbtplang.css">
      <link rel="stylesheet" href="css/Langue.css">
   </head>
   <body>
      <video autoplay muted loop id="myVideo">
         <source src="video/Hogwarts_Library.mp4" type="video/mp4">
      </video>
      <!-- ===============================Nav Start===================================== -->
      <%-include('../../partials/nav.ejs') %>
      <!-- ===============================Nav End===================================== -->
      <!-- ======================================================================================================= -->
      <div style="height: 200px;"></div>
      <!-- ========================================================================================================= -->
      <!-- Logo image -->
      <div class="Logo">
         <h2 class="Textarea" style="margin-top: 50px; font-size: 30px;">
            <div class="frst-timeline-block frst-even-item" data-animation="slideInUp">
               <div class="frst-timeline-img"><span>&nbsp;</span></div>
               <div class="frst-timeline-content">
                  <div class="frst-timeline-content-inner">
                     <p class="tarif"><p style="color: #ffac4e;">Pour être admis en BTS: </p>L’apprenant doit être titulaire du diplôme de baccalauréat, d’un diplôme BTP ou d’un diplôme obtenu en équivalence avec étude du dossier.</p>
                     <p style="opacity: 0%;">...</p>
                  </div>
               </div>
            </div>
         </h2>
      </div>
      
      <section class="section-what-do container " >
         <h2 class="titre">Nos spécialités Brevet De Technicien Supérieur (BTS)</h2>
         <div class="wrapper">
            <div class="items">
               <article >
                  <% for(btss of bts) {%>
                     <i class="fa fa-graduation-cap yellow-color" aria-hidden="true"></i>
                     <h2 ><%- btss.titrebts %></h2>
                     <ul class="uld">
                        <li class="lid" >  <%- btss.niveau1 %> </li>
                        <li class="lid" >  <%- btss.niveau2 %> </li>
                        <li class="lid" >  <%- btss.niveau3 %> </li>
                        <li class="lid" >  <%- btss.niveau4 %> </li>
                        <li class="lid" >  <%- btss.niveau5 %> </li>
                     </ul>
                     <% } %>
                  </article>
               <article >
                  <i class="fa fa-graduation-cap yellow-color" aria-hidden="true"></i>
                  <h2 >Art- Design</h2>
                  <ul class="uld">
                     <li class="lid" >  &nbsp; BTS Design d&#039;Espace </li>
                     <li class="lid" >  &nbsp; BTS Design de Produit </li>
                  </ul>
               </article>
               <article >
                  <i class="fa fa-graduation-cap yellow-color" aria-hidden="true"></i>
                  <h2 >Commerce - Comptabilité</h2>
                  <ul class="uld">
                     <li class="lid" >  &nbsp; BTS Commerce International </li>
                     <li class="lid" >  &nbsp; BTS Comptabilité et Finance </li>
                  </ul>
               </article>
               <article >
                  <i class="fa fa-graduation-cap yellow-color" aria-hidden="true"></i>
                  <h2 >Audiovisuel</h2>
                  <ul class="uld">
                     <li class="lid" >  &nbsp; BTS option Assistant Réalisateur</a> </li>
                     <li class="lid" >  &nbsp; BTS option Montage Vidéo </li>
                     <li class="lid" >  &nbsp; BTS option Prise de vue </li>
                     <li class="lid" >  &nbsp; BTS option Production </li>
                     <li class="lid" >  &nbsp; BTS option Son </li>
                  </ul>
               </article>
               <article >
                  <i class="fa fa-graduation-cap yellow-color" aria-hidden="true"></i>
                  <h2 >Développement Web</h2>
                  <ul class="uld">
                     <li class="lid" > &nbsp; Développeur Front-End React  </li>
                     <li class="lid" > &nbsp;   Développeur Front-End Angular  </li>
                     <li class="lid" > &nbsp; Développeur Full Stack Js </li>
                     <li class="lid" > &nbsp;  Développeur Web (Initiation) </li>
                     <li class="lid" > &nbsp; Développeur Back-End Symfony </li>
                  </ul>
               </article>
            </div>
         </div>
                           <!-- ======================================================================================================= -->
                           <div style="height: 50px;"></div>
                           <!-- ======================================================================================================= -->         
         <ul class="nav__list">
            <li class="nav__list-item">
               <a class="nav__link nav__link--btn" href="/diplome">retourner</a>
               <a class="nav__link nav__link--btn" href="/btp">BTP</a>
            </li>
         </ul>
      </section>

                  <!-- ======================================================================================================= -->
                  <div style="height: 100px;"></div>
                  <!-- ======================================================================================================= -->
            
      <!-- Footer start -->
      <%-include('../../partials/footer.ejs') %>
      <!-- Footer End -->
      <%-include('../../partials/scripte.ejs') %>
   </body>
</html>