<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Langues</title>
      <%-include('../../partials/head.ejs') %>
      <link rel="stylesheet" href="css/btsbtplang.css">
      <link rel="stylesheet" href="css/Langue.css">
   </head>
   <body>
      <video autoplay muted loop id="myVideo">
         <source src="video/Hogwarts_Library.mp4" type="video/mp4">
      </video>
      <!-- ===============================Nav Start===================================== -->
      <%-include('../../partials/nav.ejs') %>
      <!-- ===============================Nav End===================================== -->
      <!-- ======================================================================================================= -->
      <div style="height: 200px;"></div>
      <!-- ========================================================================================================= -->
      <!-- Logo image -->
      <div class="Logo">
         <h2 class="Textarea" style="margin-top: 50px; font-size: 30px;">
            <div class="frst-timeline-block frst-even-item" data-animation="slideInUp">
               <div class="frst-timeline-img"><span>&nbsp;</span></div>
               <div class="frst-timeline-content">
                  <div class="frst-timeline-content-inner">
                     <p class="tarif"><p style="color: #ffac4e;">Notre promesse: </p>I.F..I.C dispense de différentes formations linguistiques sans cesse en évolution afin de s'adapter aux demandes du public.</p>
                     <p style="opacity: 0%;">...</p>
                  </div>
               </div>
            </div>
         </h2>
      </div>
      
      <section class="section-what-do container" >
         <h2 class="titre">Langues Vivantes</h2>
         <div class="wrapper">
            <div class="items">
               <article >
                  <% for(lange of langes) {%>
                  <i class="fa fa-graduation-cap yellow-color" aria-hidden="true"></i>
                     <h2 ><%- lange.titrel %></h2>
                     <ul class="uld">
                        <li class="lid" > <a href="" class="ad"> &nbsp; <%- lange.niveau1 %></a> </li>
                        <li class="lid" > <a href=" " class="ad"> &nbsp;  <%- lange.niveau1 %></a> </li>
                        <li class="lid" > <a href=" " class="ad"> &nbsp;  <%- lange.niveau1 %></a> </li>
                     </ul>
                  <% } %>
               </article>
            </div>
         </div>
         <!-- ======================================================================================================= -->
         <div style="height: 50px;"></div>
         <!-- ======================================================================================================= -->         
         <ul class="nav__list">
            <li class="nav__list-item">
               <a class="nav__link nav__link--btn" href="/langue_main">retourner</a>
            </li>
         </ul>
         
      </section>
            <!-- ======================================================================================================= -->
            <div style="height: 100px;"></div>
      <!-- ======================================================================================================= -->
      <!-- Footer start -->
      <%-include('../../partials/footer.ejs') %>
      <!-- Footer End -->
      <%-include('../../partials/scripte.ejs') %>
   </body>
</html>